* {
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'menu';
    src: url('fontello.ttf');
}
body {
  background: papayawhip;
}
header {
  width: 100%;
  height: 150px;
  background: white;
  text-align: center;
}

header > li {
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 42px;
  margin-top: 28px;
  color: darkgreen;
}

#map {
  float: right;
}
#menu {
  font-family: "menu";
float: left;
margin-top: 35px;
}

header:first-of-type div {
  display: block;
      margin-top: 41px;
      text-align: left;
      background: lightgrey;
      height: 38px;
      font-size: 21px;
      color: black;
      border-top: 2px solid grey;
}

.trail {
  width: 100%;
  height: 165px;
  border-bottom: 10px solid white;
  color: white;
  font-size: 120px;
}
span {
  font-size: 136px;
  color: white;
  float: right;
}

#list {
  list-style: none;
  /*height: 800px;
  overflow: scroll;*/
}

#cover {
  background: url('Desktop HD.png');
  /*background-repeat: no-repeat;*/
  height: 100%;
width: 100%;
position: fixed;
z-index: 1;
top: 0;
right: 0;
overflow-x: hidden;
transition: 1s;
}

/*#text {
  text-align: center;
color: white;
font-size: 40px;
font-family: fantasy;
padding: 175px;
}*/
